:root{
    --dark-color:black;
    --light-color:rgb(255, 255, 255);
    --theme-color:#fd7e14;
    --text-dark:gray;
    --text-light:#cccccc;
    --success-gray:#71bc42;
    --dark-gray:#6c757d;
    --bg-dark:#343a40;
    --bg-light:#f8f9fa;
    --overlay-color:rgb(184, 178, 166, 0.7);
    --box-color:#f8f9fa;
    --about-p-color:#808080;
    --light-gray-color:rgba(52, 58, 64, 0.05);
    --overlay-black:rgb(195, 89, 2); 
    --lightest-gray-color:#cccccc;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';
}

a{
    text-decoration: none;

    
}

li{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.py{
    padding-top: 100px;
    padding-bottom: 100px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    
}
.text-center{
    text-align: center;
}

.d-flex{
    display:flex;
}

.justify-center{
    justify-content: center;
}

.align-item-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.position-absolute{
    position: absolute;
}

.position-relative{
    position: relative;
}

.w-100{
    width: 100%;
}

.w-50{
    width: 50%;
}

.w-33{
    width: 33%;
}

.w-25{
    width: 25%;
}

.w-20{
    width: 20%;
}
/* header  */
header{
    /* background-color:var(--dark-color); */
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}
header .logo a{
    color: var(--light-color);
    font-size: 32px;
}
header .logo a span{
    color: var(--theme-color);
    margin: 30px 0;
}
header nav ul li {
    margin-right: 24px;
    font-size: 16PX;
}
header a{
    color: var(--light-color);
    transition: all 0.2s linear;
}
header a:hover{
    color: var(--theme-color);
}
/* banner  */

.banner{
    background-image: url(../imeges/b1.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 9;
}

.banner::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
}

.banner-contant h1{
   
    font-size: 64px;
    color: var(--light-color);
    top: 0;
    left: 0;
    z-index: 0;
    font-weight: 600;
    line-height: 77px;
    
    
}

.banner-contant .banp{
    color:var(--light-color);
    font-size: 22px;
    line-height: 33px;
    
    margin: 15px auto;
    font-weight: 300;
    width: 85%;
}

/* servises section  */
.servises-item {
    margin: 0 auto;
    display: inline;
    justify-content: space-evenly;
}

.servises-item h3{
    font-size: 22px;
    font-weight: 400;
    margin-top: 19px;
    margin-bottom: 12px;
}

.servises-item p{
    color: var(--text-dark);
     line-height: 25px;
}
.servises-item img{
    display: inline;
}

/* loader section  */
.loader-item h3{
      font-size: 28px;
      font-weight: 400;
}
.lop{
    color: var(--text-dark);
    line-height: 27px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 93px;
    padding-top: 8px;
}
.box{
    width: 300px;
    height: 300px;
    background-color:var(--box-color);
    position: absolute;
    border-radius: 50%;
    bottom: -20%;
    right: -15%;
    z-index: -1;
}
.loai p{
     padding-left: 91px;
     margin-top: 22px;
     line-height: 20px;
}

.loai p i{
    color: var(--success-gray);
    font-size: 19px;
    margin-right: 20px;
}

.submit-button form input{
       padding: 12px 18px;
       width: 279px;
       font-size: 16px;
       border-radius: 25px;
       border-color: var(--text-light);
       margin-top: 45px;  
       margin-left:88px ;         
}

.submit-button a{
    display: inline-block;
    color: var(--light-color);
    padding: 12px 30px;
    border-radius: 25px;
    background-color: var(--theme-color);
    margin-left: 10px;
    margin-top:45px ;
    justify-content: right;
}
.submit-button a:hover{
    display: inline-block;
    color: var(--light-color);
    padding: 12px 30px;
    border-radius: 25px;
    background-color: var(--overlay-black);
    margin-left: 10px;
    margin-top:45px ;
    justify-content: right;
    transition: all 0.5s ease-in-out;
}

/* about us */
.about-item h2 {
    font-size: 40px;
    font-weight:600;
    line-height: 48px;
    color: var(--theme-color);
}
.about-item p{
    color: var(--about-p-color);
    font-size: 20px;
    line-height: 34px;
    font-weight: 300;
    margin-top: 20px;
    
}

/* Financial section  */
.financial-item h3{
    
    font-size: 26px;
    font-weight: 400;
    margin-top: 19px;
    margin-bottom: 12px;
    margin-top: 0;
    margin-left: 132px;
    
}
.financial-item p{
     padding-left: 136px;
     font-size: 16px;
     line-height: 26px;
     margin-bottom: 16px;
     color: var(--text-dark);
     margin-top: 23px;
}

/* --------------------------------meet-team-------------------------------- */
.team .team-title h2 , .gallery h2 , .work h2 , .site-services .site-title h2 , .happy-section .happy-title h2 , .pricing-section .pricing-title h2 , .questions .question-title h2{
    /* margin-top: 150px; */
    font-size: 38px;
    font-weight:600;
    line-height: 48px;
    color: var(--theme-color);
}

.team .team-title p , .work p{
    color: var(--about-p-color);
    font-size: 20px;
    line-height: 34px;
    font-weight: 300;
    margin-top: 20px;
    width: 80%;
    margin:0 auto;
}

.team .team-title p{
    margin-bottom: 50px;
}

.team-contant{
    padding: 15px 30px;
    box-shadow: 0px 0px 10px -7px var(--dark-gray);

}

.team-item .team-contant h3  , .site-services .site-item h3 , .questions .question-item h3 , .circle .circle-item h3{
    font-weight: 400;
    letter-spacing: 1px;
}
.team-item .team-contant p{
    color: var(--text-light);
    font-weight: 300;
    letter-spacing: 1px;
}

.team-item .team-image .team-icon {
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: var(--theme-color);
    height: 100%;
    padding: 15px;
    transform: translatex(-100%);
    transition: all 0.2s ease-in;
}

.team-image .team-icon a{
    font-size: 20px;
    color: var(--light-color);
    margin-bottom: 10px;
}

.team-item .team-image{
    overflow: hidden;
    margin-bottom: 0px;
}

.team-item:hover .team-image .team-icon{
    transform: translatex(0%);
}

.team-item {
    margin: 15px;
}

/* -----------------------------gallary---------------------------- */

.gallery-button ul li:first-child{
    display: inline-block;
    color: var(--light-color);
    padding: 10px 25px;
    border-radius: 25px;
    background-color: var(--theme-color);
    /* margin: 0px 20px; */
    margin-top:35px;
    font-weight: 700;
    font-size: 13px;
}

.gallery .gallery-button ul li a{
    color: var(--bg-dark);
    transition: all 0.1s linear;
}
.gallery .gallery-button ul li a:hover{
    color: var(--light-color);
}

.gallery .gallery-button ul li:nth-child(1) a{
    color: var(--light-color);
}

.gallery-button ul li{
    display: inline-block;
    padding: 10px 25px;
    border-radius: 25px;
    background-color: var(--light-gray-color);
    margin-top:35px;
    font-weight: 700;
    font-size: 13px;
    transition: all 0.2s linear;
}
.gallery-button ul li:hover{
    display: inline-block;
    padding: 10px 25px;
    border-radius: 25px;
    background-color: var(--theme-color);
    margin-top:35px;
    font-weight: 700;
    font-size: 13px;
}




.gallery-button{
     margin-bottom: 32px;
}
.gallery-button ul li{
    margin: 0 7px;
}

.gallery-item{
    margin: 15px;
}

/* work it */
.work{
    margin-bottom: 180px;
}
.work .work-title p{
    margin-top: 15px;
}
.work-title{
    margin-bottom: 65px;
}
.work-item h3{
    color: var(--theme-color);
    font-size: 37px;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 100px;
}
.work-item p{
    font-size: 16px;
    line-height: 24px;
    margin-left: 100px;
    margin-top: 10px;
    font-weight: 400;
}
.work-item a{
    display: inline-block;
    color: var(--light-color);
    padding: 10px 28px;
    border-radius: 25px;
    background-color: var(--theme-color);
    margin-left: 100px;
    margin-top:25px;
    font-size: 14px;
}
.work-item a:hover{
    display: inline-block;
    color: var(--light-color);
    padding: 10px 28px;
    border-radius: 25px;
    background-color: var(--overlay-black);
    margin-left: 100px;
    margin-top:25px;
    font-size: 14px;
    transition: all 0.5s linear;
}

/* site section  */
.site-services{
    background-color: var(--light-gray-color);
    padding-bottom: 150px;
}

.site-services .site-title h2{
    margin-top: 0px;
    margin-bottom: 50px;
}

.site-item img{
    max-width: 24%;
    height: auto;
    margin-bottom: 20px;
}
.site-item p , .questions .question-item p {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-dark);
    width: 95%;
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 26px;
}

.site-item a , .circle .circle-item a{
    color: var(--theme-color);
    transition: all 0.2s linear;
}
.site-item a:hover{
    color: var(--overlay-black);
}

.site-item{
    margin: 15px;
    padding: 10px;
}

/* happy customers */

.happy-section{
    margin-bottom: 90px;
}
.happy-title p{
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
    color: var(--text-dark);
    font-style: italic;
    width: 66%;
    margin: 0 auto;
    margin-top: 50px;
}

.happy-title img{
    width: 4%;
    height: auto;
    border-radius: 50%;
    margin: 0 48%;
    margin-top: 20px;
}

.happy-img h6{
    color: var(--text-dark);
    font-size: 14px;
    font-weight: 400;
}

/* pricing section  */
.pricing-section , .questions{
    background-color: var(--light-gray-color);
}
.pricing-section .pricing-title h2{
    margin-top: 30px;
    margin-bottom: 25px;
}
.pricing-item p{
    font-size: 28px;
    font-weight: 400;
    padding-top: 20px;
}
.pricing-item {
    background-color: var(--light-color);
}
.pricing-item h3{
    font-size: 48px;
    font-weight: 400;
    color: var(--theme-color);
    padding: 10px 0;
}
.pricing-item h3 span{
    font-size: 16px;
    color: var(--lightest-gray-color);
}
.pricing-item ul{
    text-align: start;
    margin-left:77px;
    width: 65%;
    line-height: 24px;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-dark);
    
}
.pricing-item ul li{
    margin-bottom: 16px;
    font-size: 14px;
    
}
.pricing-item ul li i{
    color: var(--lightest-gray-color);
    font-size: 20px;
    margin-right:20px ;
    margin-bottom: 25px;
    margin-left: -42px;
}
.pricing-item a{
    display: inline-block;
    color: var(--light-color);
    padding: 8px 26px;
    border-radius: 25px;
    background-color: var(--dark-gray);
    margin-top:35px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 35px;
    transition: all 0.2s linear;
}
.pricing-item a:hover{
    display: inline-block;
    color: var(--light-color);
    padding: 8px 26px;
    border-radius: 25px;
    background-color: var(--bg-dark);
    margin-top:35px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 35px;
}
.pricing-item{
    margin: 30px 18px;
}
.pricing-item ul li:nth-child(3){
    color: var(--lightest-gray-color);
}
.pricing-item ul li:nth-child(4){
    color: var(--lightest-gray-color);
}
.pricing-item ul li:nth-child(5){
    color: var(--lightest-gray-color);
}
.pricing-item ul li:first-child i{
    color: var(--success-gray);
}
.pricing-item ul li:nth-child(2) i{
    color: var(--success-gray);
}
/* .pricing-item 2 */
.pricing-item2 p{
    font-size: 28px;
    font-weight: 400;
    padding-top: 20px;
}
.pricing-item2 {
    background-color: var(--light-color);
}
.pricing-item2 h3{
    font-size: 48px;
    font-weight: 400;
    color: var(--theme-color);
    padding: 10px 0;
}
.pricing-item2 h3 span{
    font-size: 16px;
    color: var(--lightest-gray-color);
}
.pricing-item2 ul{
    text-align: start;
    margin-left:77px;
    width: 65%;
    line-height: 24px;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-dark);
    
}
.pricing-item2 ul li{
    margin-bottom: 16px;
    font-size: 14px;
    
}
.pricing-item2 ul li i{
    color: var(--lightest-gray-color);
    font-size: 20px;
    margin-right:20px ;
    margin-bottom: 25px;
    margin-left: -42px;
}
.pricing-item2 a{
    display: inline-block;
    color: var(--light-color);
    padding: 8px 26px;
    border-radius: 25px;
    background-color: var(--theme-color);
    margin-top:35px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 35px;
    transition: all 0.2s linear;
}
.pricing-item2 a:hover{
    display: inline-block;
    color: var(--light-color);
    padding: 8px 26px;
    border-radius: 25px;
    background-color: var(--overlay-black);
    margin-top:35px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 35px;
}
.pricing-item2{
    margin: 30px 18px;
}

.pricing-item2 ul li:nth-child(5){
    color: var(--lightest-gray-color);
}
.pricing-item2 ul li:first-child i{
    color: var(--success-gray);
}
.pricing-item2 ul li:nth-child(2) i{
    color: var(--success-gray);
}
.pricing-item2 ul li:nth-child(3) i{
    color: var(--success-gray);
}
.pricing-item2 ul li:nth-child(4) i{
    color: var(--success-gray);
}

.pricing-item2 {
    box-shadow:0px 0px 25px -10px var(--dark-gray);
}

/* .pricing-item 3 */

.pricing-item3 p{
    font-size: 28px;
    font-weight: 400;
    padding-top: 20px;
}
.pricing-item3 {
    background-color: var(--light-color);
}
.pricing-item3 h3{
    font-size: 48px;
    font-weight: 400;
    color: var(--theme-color);
    padding: 10px 0;
}
.pricing-item3 h3 span{
    font-size: 16px;
    color: var(--lightest-gray-color);
}
.pricing-item3 ul{
    text-align: start;
    margin-left:77px;
    width: 65%;
    line-height: 24px;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-dark);
    
}
.pricing-item3 ul li{
    margin-bottom: 16px;
    font-size: 14px;
    
}
.pricing-item3 ul li i{
    color: var(--success-gray);
    font-size: 20px;
    margin-right:20px ;
    margin-bottom: 25px;
    margin-left: -42px;
}
.pricing-item3 a{
    display: inline-block;
    color: var(--light-color);
    padding: 8px 26px;
    border-radius: 25px;
    background-color: var(--dark-gray);
    margin-top:35px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 35px;
    transition: all 0.2s linear;
}

.pricing-item3 a:hover{
    display: inline-block;
    color: var(--light-color);
    padding: 8px 26px;
    border-radius: 25px;
    background-color: var(--bg-dark);
    margin-top:35px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 35px;
}
.pricing-item3{
    margin: 30px 18px;
}

/* questions section  */
.question-title h2{
    margin-bottom: 80px;
}

.question-item h3{
    margin-bottom: 18px;
}

.question-item p{
    margin-bottom: 15px;
}


.question-item2 h3{
    margin-bottom: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

.question-item2 p{
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-dark);
    width: 95%;
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 26px;
}
.question-item2{
    margin:25px 0px ;
}

/* circle section  */


.circle-item h3{
    margin-left: 150px;
}
.circle-item p{
    font-size: 14px;
    font-weight: 400;
    color: var(--text-dark);
    line-height: 26px;
    width: 60%;
    margin: 10px 150px;
}
.circle-item a{
    margin-left: 150px;
}

.circle .circle-img2 img{
    width: 200px;
    height: auto;
}
 